.bookmark-header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0rem;
    background-color: rgba(255, 255, 255, 0.98);
    padding: 0.75rem 1.5rem;
}
.bookmark-header span:first-child {
    font-size: 2rem;
    font-weight: bold;
    flex: 1;
}
.bookmark-header span:last-child {
    padding-top: 0.4rem;
    font-size: 1.3rem;
    color: rgb(83, 100, 113);
}
.bookmark-content {
    padding: 4rem 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bookmark-content img {
    width: 34rem;
    margin-bottom: 3.5rem;
}
.b-span-t {
    font-size: 3.15rem;
    font-weight: 905;
}
.b-span-b {
    font-size: 1.5rem;
    color: rgb(83, 100, 113);
    padding-top: 1.25rem;
}